In [1]:
import os
from datetime import datetime
import numpy as np
import pandas as pd
from itertools import cycle, islice

In [2]:
# Set Pandas column setting to maximum to display all the columns
pd.set_option("display.max_columns", None)

# Set directory path for the data files
folder_path = "/Users/andre/Data Science/Semester_2/SL/data"

In [3]:
# Define list with variables to be selected from the input files 
selected_variables = [
                      "Season",
                      "Date",
                      "HomeTeam",
                      "AwayTeam",
                      "FTHG",
                      "FTAG",
                      "FTR",
                      "HTHG",
                      "HTAG",
                      "HTR",
                      "Referee",
                      "HS",
                      "AS",
                      "HST",
                      "AST",
                      "HF",
                      "AF",
                      "HC",
                      "AC",
                      "HY",
                      "AY",
                      "HR",
                      "AR",
                      "B365H",
                      "B365D",
                      "B365A"
                     ]

In [4]:
# Define function to convert different date strings into the same format
def parse_date(date_str):
    """
    Parses a date string into a datetime object.

    This function tries to parse the given date string using two common date formats:
    - %d/%m/%Y (e.g., 16/04/2024)
    - %d/%m/%y (e.g., 16/04/24)

    If the date string does not match either format, the function returns None.

    Parameters:
        date_str (str): The date string to parse.

    Returns:
        datetime.datetime: The parsed datetime object if successful, otherwise None.
    """
    
    try:
        # Parse the date string using the first format
        return datetime.strptime(date_str, "%d/%m/%Y")
    except ValueError:
        try:
            # Parse the date string using the second format
            return datetime.strptime(date_str, "%d/%m/%y")
        except ValueError:
            # Return None if both formats fail 
            return None

In [5]:
# Define empty list to concatenate all data files into a single Pandas DataFrame later
dfs = []

# Loop through all CSV files in the given directory path
for file_name in os.listdir(folder_path):
    
    # Only reading the files that include the match history data from all seasons
    if file_name[:3] == "pl_":
    
        # Read current file path
        file_path = os.path.join(folder_path, file_name)
        
        # Read current file into a Pandas DataFrame
        df = pd.read_csv(file_path)

        # Upper case all characters in the Season column
        df["Season"] = file_name[:-4].upper()

        # Select the subset of the columns of interest
        df_selected = df[selected_variables]

        # Include DataFrame into the list
        dfs.append(df_selected)

# Create one single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Parse the Date column and convert the different formats into the same one
combined_df["Date"] = combined_df["Date"].apply(parse_date)

# Display the results
combined_df

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,PL_15_16,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,M Clattenburg,11,7,2,3,13,13,6,3,3,4,0,0,2.00,3.6,4.00
1,PL_15_16,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,M Oliver,11,18,3,10,15,16,4,8,1,3,1,0,1.36,5.0,11.00
2,PL_15_16,2015-08-08,Everton,Watford,2,2,D,0,1,A,M Jones,10,11,5,5,7,13,8,2,1,2,0,0,1.70,3.9,5.50
3,PL_15_16,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,L Mason,19,10,8,5,13,17,6,3,2,4,0,0,1.95,3.5,4.33
4,PL_15_16,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,J Moss,9,9,1,4,12,12,1,2,2,3,0,0,1.65,4.0,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7215,PL_21_22,2022-05-22,Crystal Palace,Man United,1,0,H,1,0,H,M Atkinson,6,10,3,4,12,22,3,6,2,4,0,0,3.00,3.6,2.25
7216,PL_21_22,2022-05-22,Leicester,Southampton,4,1,H,0,0,D,J Moss,12,7,6,2,10,5,3,3,0,1,0,0,1.85,4.0,3.80
7217,PL_21_22,2022-05-22,Liverpool,Wolves,3,1,H,1,1,D,A Taylor,29,7,8,5,6,3,5,3,1,0,0,0,1.14,8.5,15.00
7218,PL_21_22,2022-05-22,Man City,Aston Villa,3,2,H,0,1,A,M Oliver,24,4,5,2,5,11,13,1,0,1,0,0,1.16,8.0,17.00
7219,PL_21_22,2022-05-22,Norwich,Tottenham,0,5,A,0,2,A,C Kavanagh,9,19,0,13,13,7,3,2,3,1,0,0,9.50,6.5,1.25

In [6]:
# Read CSV file including all the team ratings from the video game FIFA
fifaindex_df = pd.read_csv(f"{folder_path}/fifaindex.csv", delimiter=";")

# Define dictionary to parse all team names to have consistent data across the DataFrames
mapping_dict = {
                "Leicester City": "Leicester",
                "Manchester United": "Man United",
                "Manchester City": "Man City",
                "Norwich City": "Norwich",
                "Newcastle United": "Newcastle",
                "Wolverhampton Wanderers": "Wolves",
                "Brighton & Hove Albion": "Brighton",
                "Tottenham Hotspur": "Tottenham",
                "Stoke City": "Stoke",
                "West Bromwich": "West Brom",
                "Swansea City": "Swansea",
                "West Ham United": "West Ham",
                "Leeds United": "Leeds",
                "Wigan Athletic": "Wigan",
                "Birmingham City": "Birmingham",
                "Blackburn Rovers": "Blackburn",
                "Charlton Athletic": "Charlton",
                "Bolton Wanderers": "Bolton",
                "Queens Park Rangers": "QPR",
                "Reading FC": "Reading",
                "Hull City": "Hull",
                "Huddersfield Town": "Huddersfield",
                "Cardiff City": "Cardiff",
                "Derby Country": "Derby",
                "Nottingham Forest": "Nott'm Forest"
               }

# Parse all team names and replace all inconsistent names
fifaindex_df["Team"].replace(mapping_dict, inplace=True)

# Display results
fifaindex_df

       Season           Team  Attack  Midfield  Defense  Overall
0    PL_04_05        Arsenal      92        91       89       90
1    PL_04_05     Man United      91        90       85       88
2    PL_04_05        Chelsea      87        88       86       87
3    PL_04_05      Liverpool      88        86       82       84
4    PL_04_05      Newcastle      85        83       76       81
..        ...            ...     ...       ...      ...      ...
395  PL_23_24      Brentford      75        76       76       76
396  PL_23_24  Nott'm Forest      75        77       75       77
397  PL_23_24         Fulham      76        77       76       77
398  PL_23_24     Luton Town      72        72       72       72
399  PL_23_24       Brighton      77        77       78       77

[400 rows x 6 columns]

In [7]:
# Read CSV file including the matchweek data
matches_df = pd.read_csv(f"{folder_path}/matches.csv")

# Define dictionary to parse all team names to have consistent data across the DataFrames
mapping_dict = {
                "Birmingham City": "Birmingham",
                "Cardiff City": "Cardiff",
                "Charlton Ath": "Charlton",
                "Derby County": "Derby",
                "Hull City": "Hull",
                "Leicester City": "Leicester",
                "Leeds United": "Leeds",
                "Manchester Utd": "Man United",
                "Manchester City": "Man City",
                "Newcastle Utd": "Newcastle",
                "Norwich City": "Norwich",
                "Nott'ham Forest": "Nott'm Forest",
                "Sheffield": "Sheffield United",
                "Sheffield Utd": "Sheffield United",
                "Stoke City": "Stoke",
                "Swansea City": "Swansea",
                "Wigan Athletic": "Wigan"
               }

# Parse all team names and replace all inconsistent names
matches_df["Home"].replace(mapping_dict, inplace=True)
matches_df["Away"].replace(mapping_dict, inplace=True)

# Convert and parse the Date column and convert the different formats into the same one
matches_df["Date"] = pd.to_datetime(matches_df["Date"])
matches_df["Date"] = matches_df["Date"].dt.strftime("%d/%m/%Y")
matches_df["Date"] = matches_df["Date"].apply(parse_date)

# Select the subset of the columns of interest
matches_df = matches_df[["Wk", "Date", "Home", "Away"]]

# Display results
matches_df

       Wk       Date              Home           Away
0       1 1992-08-15     Coventry City  Middlesbrough
1       1 1992-08-15             Leeds      Wimbledon
2       1 1992-08-15  Sheffield United     Man United
3       1 1992-08-15    Crystal Palace      Blackburn
4       1 1992-08-15           Arsenal        Norwich
...    ..        ...               ...            ...
12021  38 2023-05-28           Everton    Bournemouth
12022  38 2023-05-28         Leicester       West Ham
12023  38 2023-05-28       Aston Villa       Brighton
12024  38 2023-05-28             Leeds      Tottenham
12025  38 2023-05-28         Brentford       Man City

[12026 rows x 4 columns]

In [8]:
# Right join the team ratings data to the home teams
merged_df = pd.merge(combined_df,
                     fifaindex_df,
                     left_on=["Season", "HomeTeam"],
                     right_on=["Season", "Team"], how="left")

# Right join the team ratings data to the away teams
merged_df = pd.merge(merged_df,
                     fifaindex_df,
                     left_on=["Season", "AwayTeam"],
                     right_on=["Season", "Team"], how="left")

# Right join the match week data
merged_df = pd.merge(merged_df,
                     matches_df,
                     left_on=["Date", "HomeTeam", "AwayTeam"],
                     right_on=["Date", "Home", "Away"], how="left")

# Define dictionary to rename columns
rename_dict = {
                "Attack_x": "HAttack",
                "Midfield_x": "HMidfield",
                "Defense_x": "HDefense",
                "Overall_x": "HOverall",
                "Attack_y": "AAttack",
                "Midfield_y": "AMidfield",
                "Defense_y": "ADefense",
                "Overall_y": "AOverall"              
              }

# Rename columns
merged_df.rename(columns=rename_dict, inplace=True)

# Convert Wk column to integer
merged_df["Wk"] = merged_df["Wk"].astype(int)

# Drop some unnecessary columns
merged_df = merged_df.drop(columns=["Team_x", "Team_y", "Home", "Away"])

# Save all column names accept of HomeTeam and AwayTeam in a list
id_vars = [col for col in merged_df.columns if col not in ["HomeTeam", "AwayTeam"]]

# Melt the columns HomeTeam and AwayTeam into the new columns Side and Team
merged_df = merged_df.melt(id_vars=id_vars,
                           value_vars=["HomeTeam", "AwayTeam"],
                           var_name="Side",
                           value_name="Team")

# Sort DataFrame according the columns Season, Team, and Date in ascending order
merged_df = merged_df.sort_values(["Season", "Team", "Date"], ascending=[True, True, True])

# Add a new column Game repeating the sequence 1 to 38 because a season has 38 matchdays
merged_df["Game"] = [*islice(cycle(list(range(1, 39))), len(merged_df))]

# Convert Column Game into string
merged_df["Game"] = merged_df["Game"].astype(str)

# Create a dummy column merging Team and Game with a comma in between
merged_df["merged_dummy"] = merged_df["Team"] + ", " + merged_df["Game"]

# Unmelting the DataFrame again by recreating the columns HomeTeam and AwayTeam and adding the two new columns
# HomeGame and AwayGame because in some cases due to change of schedule two teams could have played a different
# amount of games when they phased each other
merged_df = merged_df.pivot(index=id_vars, columns="Side", values="merged_dummy").reset_index()
merged_df[["AwayTeam", "AwayGame"]] = merged_df["AwayTeam"].str.split(", ", expand=True)
merged_df[["HomeTeam", "HomeGame"]] = merged_df["HomeTeam"].str.split(", ", expand=True)
merged_df["AwayGame"] = merged_df["AwayGame"].astype(int)
merged_df["HomeGame"] = merged_df["HomeGame"].astype(int)

# Display results
merged_df

Side,Season,Date,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,HAttack,HMidfield,HDefense,HOverall,AAttack,AMidfield,ADefense,AOverall,Wk,AwayTeam,HomeTeam,AwayGame,HomeGame
0,PL_04_05,2004-08-14,1,1,D,0,1,A,C Foy,12,4,4,2,15,17,4,5,1,0,0,0,1.80,3.10,5.00,72,78,75,76,78,72,71,73,1,West Brom,Blackburn,1,1
1,PL_04_05,2004-08-14,1,1,D,0,1,A,D Gallagher,14,16,7,8,17,11,3,8,3,1,0,0,3.10,3.20,2.25,81,76,75,77,88,86,82,84,1,Liverpool,Tottenham,1,1
2,PL_04_05,2004-08-14,1,1,D,1,0,H,M Messias,12,4,5,2,14,12,9,4,0,2,0,0,2.10,3.25,3.40,81,76,74,77,78,76,77,78,1,Fulham,Man City,1,1
3,PL_04_05,2004-08-14,1,1,D,1,0,H,P Walton,14,14,10,8,14,16,6,11,0,1,0,0,2.10,3.25,3.40,74,72,73,73,69,68,72,69,1,Crystal Palace,Norwich,1,1
4,PL_04_05,2004-08-14,1,1,D,1,1,D,H Webb,14,16,8,11,13,16,8,4,2,4,0,0,2.40,3.20,2.87,78,73,75,75,80,76,77,77,1,Birmingham,Portsmouth,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7215,PL_22_23,2023-05-28,2,1,H,1,0,H,S Hooper,13,16,4,3,8,10,3,5,1,1,0,0,1.91,3.80,3.60,82,80,76,79,79,80,78,79,38,West Ham,Leicester,38,38
7216,PL_22_23,2023-05-28,2,1,H,1,1,D,R Jones,21,10,8,3,14,10,5,4,1,2,0,0,1.50,4.33,6.00,82,83,81,82,77,76,74,76,38,Fulham,Man United,38,38
7217,PL_22_23,2023-05-28,2,1,H,2,1,H,D Coote,12,8,5,4,15,16,4,3,4,4,0,0,2.00,3.60,3.50,78,79,79,79,75,76,77,76,38,Brighton,Aston Villa,38,38
7218,PL_22_23,2023-05-28,4,4,D,2,2,D,D England,15,30,10,8,4,10,2,9,0,2,0,0,6.50,4.75,1.44,76,72,76,76,84,82,84,84,38,Liverpool,Southampton,38,38
7219,PL_22_23,2023-05-28,5,0,H,3,0,H,A Marriner,14,6,8,0,8,11,8,4,0,0,0,0,1.36,5.25,8.00,81,83,80,81,78,80,74,78,38,Wolves,Arsenal,38,38

In [9]:
# Extract all seasons
seasons = sorted(merged_df["Season"].unique())

# Set stealing fraction gamma for updating home and away forms
gamma = 0.33

# Create new columns
merged_df["HForm"] = 1.0
merged_df["AForm"] = 1.0
merged_df["HTGC"] = 0
merged_df["ATGC"] = 0
merged_df["HTGS"] = 0
merged_df["ATGS"] = 0

# Iterate through all seasons
for season in seasons:
    
    # Extract data for current season
    season_df = merged_df[merged_df["Season"]==season]
    
    # Extract all teams of current season
    teams = sorted(season_df["HomeTeam"].unique())
    
    # Create a temporary DataFrame to keep track of the latest form, goal scored, and goals conceded for every team
    cur_form_df = pd.DataFrame(teams, columns=["Team"])
    cur_form_df["Form"] = 1.0
    cur_form_df["GC"] = 0
    cur_form_df["GS"] = 0
    
    # Iterate through every matchday
    for i in range(1, 39):
        
        # Iterate through every team
        for team in teams:
            
            # Set a few logical conditions to keep code more readable
            # Condition1: Select data for current season
            # Condition2: Select data for current matchday and team being the home team
            # Condition2: Select data for current matchday and team being the away team
            condition1 = merged_df["Season"]==season
            condition2 = (merged_df["HomeGame"]==i) & (merged_df["HomeTeam"]==team) 
            condition3 = (merged_df["AwayGame"]==i) & (merged_df["AwayTeam"]==team)

            # Select data for current season, matchday, and team
            matchday_df = merged_df[condition1 & (condition2 | condition3)]
            
            # Read names of home and away team and scored goals by each team
            home_team = matchday_df["HomeTeam"].iloc[0]
            away_team = matchday_df["AwayTeam"].iloc[0]
            home_goals = matchday_df["FTHG"].iloc[0]
            away_goals = matchday_df["FTAG"].iloc[0]
            
            # Read current form of home and away team
            home_form = cur_form_df[cur_form_df["Team"]==home_team]["Form"].iloc[0]
            away_form = cur_form_df[cur_form_df["Team"]==away_team]["Form"].iloc[0]
            
            # If it's not the first matchday enter the current form for the home and away team and the total 
            # conceded and scored goals (so far) by both teams into the final DataFrame
            if i != 1:
                if team==home_team:
                    merged_df.loc[condition1 & condition2, "HForm"] = home_form
                    merged_df.loc[condition1 & condition2,
                                  "HTGC"] = cur_form_df[cur_form_df["Team"]==home_team]["GC"].iloc[0]
                    merged_df.loc[condition1 & condition2,
                                  "HTGS"] = cur_form_df[cur_form_df["Team"]==home_team]["GS"].iloc[0]
                elif team==away_team:
                    merged_df.loc[condition1 & condition3, "AForm"] = away_form
                    merged_df.loc[condition1 & condition3,
                                  "ATGC"] = cur_form_df.loc[cur_form_df["Team"]==away_team]["GC"].iloc[0]
                    merged_df.loc[condition1 & condition3,
                                  "ATGS"] = cur_form_df.loc[cur_form_df["Team"]==away_team]["GS"].iloc[0]
            
            # Update the total scored and conceded goals for both teams
            if team==home_team:
                cur_form_df.loc[cur_form_df["Team"]==home_team, "GC"] += away_goals
                cur_form_df.loc[cur_form_df["Team"]==home_team, "GS"] += home_goals
            elif team==away_team:
                cur_form_df.loc[cur_form_df["Team"]==away_team, "GC"] += home_goals
                cur_form_df.loc[cur_form_df["Team"]==away_team, "GS"] += away_goals
            
            # Update the form for both teams depending on the match result
            # H: Home team won
            # A: Away team won
            # D: Draw
            if matchday_df["FTR"].iloc[0] == "H" and team==home_team:
                cur_form_df.loc[cur_form_df["Team"]==home_team, "Form"] = home_form + gamma*away_form
            elif matchday_df["FTR"].iloc[0] == "H" and team==away_team:
                cur_form_df.loc[cur_form_df["Team"]==away_team, "Form"] = away_form - gamma*away_form    
            elif matchday_df["FTR"].iloc[0] == "A" and team==home_team:
                cur_form_df.loc[cur_form_df["Team"]==home_team, "Form"] = home_form - gamma*home_form
            elif matchday_df["FTR"].iloc[0] == "A" and team==away_team:    
                cur_form_df.loc[cur_form_df["Team"]==away_team, "Form"] = away_form + gamma*home_form
            elif matchday_df["FTR"].iloc[0] == "D" and team==home_team:
                cur_form_df.loc[cur_form_df["Team"]==home_team, "Form"] = home_form - gamma*(home_form-away_form)
            elif matchday_df["FTR"].iloc[0] == "D" and team==away_team:
                cur_form_df.loc[cur_form_df["Team"]==away_team, "Form"] = away_form - gamma*(away_form-home_form)

In [10]:
# Extract all seasons
seasons = sorted(merged_df["Season"].unique())

# Set k
k = 5

# Create new columns
merged_df["HSt"] = 0.0
merged_df["ASt"] = 0.0
merged_df["HGKPP"] = 0.0
merged_df["AGKPP"] = 0.0
merged_df["HHTGKPP"] = 0.0
merged_df["AHTGKPP"] = 0.0
merged_df["HSTKPP"] = 0.0
merged_df["ASTKPP"] = 0.0
merged_df["HSKPP"] = 0.0
merged_df["ASKPP"] = 0.0
merged_df["HYKKP"] = 0.0
merged_df["AYKKP"] = 0.0
merged_df["HRKKP"] = 0.0
merged_df["ARKKP"] = 0.0
merged_df["HCKPP"] = 0.0
merged_df["ACKPP"] = 0.0
merged_df["HFKKP"] = 0.0
merged_df["AFKKP"] = 0.0

# Melt the columns HomeTeam and AwayTeam into the new columns Side and Team
melted_df = merged_df.melt(id_vars=["Season",
                                    "HomeGame",
                                    "AwayGame",
                                    "FTR",
                                    "Wk",
                                    "HS",
                                    "AS",
                                    "HST",
                                    "AST",
                                    "HF",
                                    "AF",
                                    "HC",
                                    "AC",
                                    "HY",
                                    "AY",
                                    "HR",
                                    "AR",
                                    "FTHG",
                                    "FTAG",
                                    "HTHG",
                                    "HTAG"],
                           value_vars=["HomeTeam", "AwayTeam"],
                           var_name="Side",
                           value_name="Team")

# Create new column Points based on the match result
# 3 if home or away team won
# 1 if both drew
# 0 if home or away team lost
melted_df["points"] = np.where((melted_df["Side"] == "HomeTeam") & 
                               (melted_df["FTR"] == "H") | 
                               (melted_df["Side"] == "AwayTeam") & 
                               (melted_df["FTR"] == "A"), 3,
                               np.where(melted_df["FTR"] == "D", 1, 0))

# Update Wk column using the value from the HomeGame and AwayGame columns
melted_df.loc[melted_df["Side"] == "HomeTeam", "Wk"] = melted_df["HomeGame"]
melted_df.loc[melted_df["Side"] == "AwayTeam", "Wk"] = melted_df["AwayGame"]

# Iterate through every season
for season in seasons:
    
    # Extract data for current season
    season_df = merged_df[merged_df["Season"]==season]
    
    # Extract all teams of current season
    teams = sorted(season_df["HomeTeam"].unique())
    
    # Iterate through every matchday skipping the first k matchdays
    for i in range(k+1, 39):
        
        # Iterate through every team
        for team in teams:
            
            # Calculate current home streak
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["HomeGame"]==i) &
                          (merged_df["HomeTeam"]==team),
                          "HSt"] = melted_df[(melted_df["Season"]==season) & 
                                             (melted_df["Team"]==team) &
                                             (melted_df["HomeGame"]<i) &
                                             (melted_df["HomeGame"]>=i-k)]["points"].sum()/(3*k)
            
            # Calculate current away streak
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["AwayGame"]==i) &
                          (merged_df["AwayTeam"]==team),
                          "ASt"] = melted_df[(melted_df["Season"]==season) & 
                                             (melted_df["Team"]==team) &
                                             (melted_df["AwayGame"]<i) &
                                             (melted_df["AwayGame"]>=i-k)]["points"].sum()/(3*k)
            
            # Calculate past k home goals
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["HomeGame"]==i) &
                          (merged_df["HomeTeam"]==team),
                          "HGKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["HomeGame"]<i) &
                                               (melted_df["HomeGame"]>=i-k)]["FTHG"].sum()/k
            
            # Calculate past k away goals
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["AwayGame"]==i) &
                          (merged_df["AwayTeam"]==team),
                          "AGKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["AwayGame"]<i) &
                                               (melted_df["AwayGame"]>=i-k)]["FTAG"].sum()/k
            
            # Calculate past k home half time goals
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["HomeGame"]==i) &
                          (merged_df["HomeTeam"]==team),
                          "HHTGKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["HomeGame"]<i) &
                                               (melted_df["HomeGame"]>=i-k)]["HTHG"].sum()/k
            
            # Calculate past k away half time goals
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["AwayGame"]==i) &
                          (merged_df["AwayTeam"]==team),
                          "AHTGKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["AwayGame"]<i) &
                                               (melted_df["AwayGame"]>=i-k)]["HTAG"].sum()/k
            
            # Calculate past k home shots on target
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["HomeGame"]==i) &
                          (merged_df["HomeTeam"]==team),
                          "HSTKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["HomeGame"]<i) &
                                               (melted_df["HomeGame"]>=i-k)]["HST"].sum()/k
            
            # Calculate past k away shots on target
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["AwayGame"]==i) &
                          (merged_df["AwayTeam"]==team),
                          "ASTKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["AwayGame"]<i) &
                                               (melted_df["AwayGame"]>=i-k)]["AST"].sum()/k
            
            # Calculate past k home shots taken
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["HomeGame"]==i) &
                          (merged_df["HomeTeam"]==team),
                          "HSKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["HomeGame"]<i) &
                                               (melted_df["HomeGame"]>=i-k)]["HS"].sum()/k
            
            # Calculate past k away shots taken
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["AwayGame"]==i) &
                          (merged_df["AwayTeam"]==team),
                          "ASKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["AwayGame"]<i) &
                                               (melted_df["AwayGame"]>=i-k)]["AS"].sum()/k
            
            # Calculate past k home yellow cards
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["HomeGame"]==i) &
                          (merged_df["HomeTeam"]==team),
                          "HYKKP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["HomeGame"]<i) &
                                               (melted_df["HomeGame"]>=i-k)]["HY"].sum()/k
            
            # Calculate past k away yellow cards
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["AwayGame"]==i) &
                          (merged_df["AwayTeam"]==team),
                          "AYKKP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["AwayGame"]<i) &
                                               (melted_df["AwayGame"]>=i-k)]["AY"].sum()/k
            
            # Calculate past k home red cards
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["HomeGame"]==i) &
                          (merged_df["HomeTeam"]==team),
                          "HRKKP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["HomeGame"]<i) &
                                               (melted_df["HomeGame"]>=i-k)]["HR"].sum()/k
            
            # Calculate past k away red cards
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["AwayGame"]==i) &
                          (merged_df["AwayTeam"]==team),
                          "ARKKP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["AwayGame"]<i) &
                                               (melted_df["AwayGame"]>=i-k)]["AR"].sum()/k
            
            # Calculate past k home corners
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["HomeGame"]==i) &
                          (merged_df["HomeTeam"]==team),
                          "HCKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["HomeGame"]<i) &
                                               (melted_df["HomeGame"]>=i-k)]["HC"].sum()/k
            
            # Calculate past k away corners
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["AwayGame"]==i) &
                          (merged_df["AwayTeam"]==team),
                          "ACKPP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["AwayGame"]<i) &
                                               (melted_df["AwayGame"]>=i-k)]["AC"].sum()/k
            
            # Calculate past k home freekicks
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["HomeGame"]==i) &
                          (merged_df["HomeTeam"]==team),
                          "HFKKP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["HomeGame"]<i) &
                                               (melted_df["HomeGame"]>=i-k)]["HF"].sum()/k
            
            # Calculate past k away freekicks
            merged_df.loc[(merged_df["Season"]==season) &
                          (merged_df["AwayGame"]==i) &
                          (merged_df["AwayTeam"]==team),
                          "AFKKP"] = melted_df[(melted_df["Season"]==season) & 
                                               (melted_df["Team"]==team) &
                                               (melted_df["AwayGame"]<i) &
                                               (melted_df["AwayGame"]>=i-k)]["AF"].sum()/k

In [11]:
# Calculate home goal difference
merged_df["HTGD"] = merged_df["HTGS"] - merged_df["HTGC"]

# Calculate away goal difference
merged_df["ATGD"] = merged_df["ATGS"] - merged_df["ATGC"]

# Calculate form differential
merged_df["FormDif"] = merged_df["HForm"] - merged_df["AForm"]

# Calculate streak differential
merged_df["StDif"] = merged_df["HSt"] - merged_df["ASt"]

# Calculate past k goals differential
merged_df["GKPP"] = merged_df["HGKPP"] - merged_df["AGKPP"]

# Calculate past k half time goals differential
merged_df["HTGKPP"] = merged_df["HHTGKPP"] - merged_df["HHTGKPP"]

# Calculate past k shots on target differential
merged_df["STKPP"] = merged_df["HSTKPP"] - merged_df["ASTKPP"]

# Calculate past k shots taken differential
merged_df["SKPP"] = merged_df["HSKPP"] - merged_df["ASKPP"]

# Calculate past k yellow cards differential
merged_df["YKKP"] = merged_df["HYKKP"] - merged_df["AYKKP"]

# Calculate past k red cards differential
merged_df["RKKP"] = merged_df["HRKKP"] - merged_df["ARKKP"]

# Calculate past k corners differential
merged_df["CKPP"] = merged_df["HCKPP"] - merged_df["ACKPP"]

# Calculate past k freekicks differential
merged_df["FKKP"] = merged_df["HFKKP"] - merged_df["AFKKP"]

# Calculate attack rating differential
merged_df["AttackDiff"] = merged_df["HAttack"] - merged_df["AAttack"]

# Calculate midfield rating differential
merged_df["MidfieldDiff"] = merged_df["HMidfield"] - merged_df["AMidfield"]

# Calculate defens rating differential
merged_df["DefenseDiff"] = merged_df["HDefense"] - merged_df["ADefense"]

# Calculate overall rating differential
merged_df["OverallDiff"] = merged_df["HOverall"] - merged_df["AOverall"]

# Calculate goal difference differential
merged_df["GoalDiff"] = merged_df["HTGD"] - merged_df["ATGD"]

In [12]:
merged_df[(merged_df["Season"]=="PL_04_05") & 
          ((merged_df["HomeTeam"]=="Arsenal") | (merged_df["AwayTeam"]=="Arsenal"))]

Side,Season,Date,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,HAttack,HMidfield,HDefense,HOverall,AAttack,AMidfield,ADefense,AOverall,Wk,AwayTeam,HomeTeam,AwayGame,HomeGame,HForm,AForm,HTGC,ATGC,HTGS,ATGS,HSt,ASt,HGKPP,AGKPP,HHTGKPP,AHTGKPP,HSTKPP,ASTKPP,HSKPP,ASKPP,HYKKP,AYKKP,HRKKP,ARKKP,HCKPP,ACKPP,HFKKP,AFKKP,HTGD,ATGD,FormDif,StDif,GKPP,HTGKPP,STKPP,SKPP,YKKP,RKKP,CKPP,FKKP,AttackDiff,MidfieldDiff,DefenseDiff,OverallDiff,GoalDiff
9,PL_04_05,2004-08-15,1,4,A,0,2,A,M Riley,9,18,5,14,14,19,0,7,2,1,0,0,6.00,3.40,1.610,72,75,74,75,92,91,89,90,1,Arsenal,Everton,1,1,1.000000,1.000000,0,0,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-20,-16,-15,-15,0
19,PL_04_05,2004-08-22,5,3,H,1,1,D,S Dunn,16,9,11,5,8,14,7,5,1,1,0,0,1.36,4.33,9.000,92,91,89,90,82,79,79,80,2,Middlesbrough,Arsenal,2,2,1.330000,1.000000,1,2,4,2,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0,0.330000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,12,10,10,3
26,PL_04_05,2004-08-25,3,0,H,0,0,D,N Barry,15,3,9,0,11,18,6,5,2,4,0,0,1.28,5.00,10.000,92,91,89,90,72,78,75,76,3,Blackburn,Arsenal,3,3,1.660000,0.670000,4,4,9,3,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,-1,0.990000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20,13,14,14,6
30,PL_04_05,2004-08-28,1,4,A,0,3,A,G Poll,5,18,5,15,15,5,4,10,1,1,0,0,9.00,4.33,1.360,74,72,73,73,92,91,89,90,4,Arsenal,Norwich,4,4,0.670000,1.881100,5,4,4,12,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,8,-1.211100,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-18,-19,-16,-17,-9
41,PL_04_05,2004-09-11,0,3,A,0,0,D,M Halsey,9,12,7,7,16,10,9,4,2,2,0,0,7.00,3.60,1.533,78,76,77,78,92,91,89,90,5,Arsenal,Fulham,5,5,0.580905,2.102200,7,5,6,16,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,11,-1.521295,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-14,-15,-12,-12,-12
54,PL_04_05,2004-09-18,2,2,D,1,0,H,P Dowd,11,8,6,5,13,17,3,8,1,3,0,0,1.25,5.00,13.000,92,91,89,90,74,79,73,76,6,Bolton,Arsenal,6,6,2.293899,1.292225,5,6,19,9,1.000000,0.666667,2.0,1.0,0.2,0.6,7.4,4.6,10.8,9.4,1.6,0.6,0.0,0.0,5.2,4.8,12.8,12.4,14,3,1.001674,0.333333,1.0,0.0,2.8,1.4,1.0,0.0,0.4,0.4,18,12,16,14,11
60,PL_04_05,2004-09-25,0,1,A,0,1,A,N Barry,11,12,7,9,16,8,8,1,1,0,0,0,6.50,3.50,1.570,81,76,74,77,92,91,89,90,7,Arsenal,Man City,7,7,0.533449,1.963346,6,7,8,21,0.400000,0.866667,1.6,2.4,0.6,0.8,5.4,6.4,10.6,10.0,1.0,2.2,0.0,0.0,5.4,6.4,13.6,12.8,2,14,-1.429897,-0.466667,-0.8,0.0,-1.0,0.6,-1.2,0.0,-1.0,0.8,-11,-15,-15,-13,-12
74,PL_04_05,2004-10-02,4,0,H,1,0,H,M Dean,15,4,9,0,13,15,6,1,3,1,0,0,1.28,5.00,10.000,92,91,89,90,76,79,75,77,8,Charlton,Arsenal,8,8,2.139384,0.771451,7,10,22,8,0.866667,0.533333,1.2,0.2,0.2,0.0,6.8,4.4,10.2,8.2,1.4,1.2,0.0,0.0,6.0,7.8,14.2,11.6,15,-2,1.367934,0.333333,1.0,0.0,2.4,2.0,0.2,0.0,-1.8,2.6,16,12,14,13,17
86,PL_04_05,2004-10-16,3,1,H,2,1,H,G Poll,18,5,15,2,11,22,6,3,2,4,0,0,1.30,5.00,9.500,92,91,89,90,79,74,77,77,9,Aston Villa,Arsenal,9,9,2.393963,0.682348,7,9,26,10,0.866667,0.466667,1.4,1.0,0.4,0.8,6.8,9.2,10.2,15.2,1.6,1.2,0.0,0.0,6.0,7.0,14.6,13.6,19,1,1.711615,0.400000,0.4,0.0,-2.4,-5.0,0.4,0.0,-1.0,1.0,13,17,12,13,18
97,PL_04_05,2004-10-24,2,0,H,0,0,D,M Riley,11,12,5,6,20,23,3,3,2,3,0,0,2.62,3.00,2.750,91,90,85,88,92,91,89,90,10,Arsenal,Man United,10,10,1.278800,2.619138,7,8,9,29,0.600000,0.866667,1.0,1.4,0.2,0.4,7.4,4.6,14.6,8.2,1.2,2.0,0.0,0.0,5.4,3.4,15.4,14.4,2,21,-1.340338,-0.266667,-0.4,0.0,2.8,6.4,-0.8,0.0,2.0,1.0,-1,-1,-4,-2,-19
105,PL_04_05,2004-10-30,2,2,D,0,0,D,M Messias,14,7,9,4,8,21,7,7,1,4,0,0,1.16,6.50,15.000,92,91,89,90,80,72,73,75,11,Southampton,Arsenal,11,11,1.754823,0.361117,10,12,29,6,0.666667,0.133333,2.2,0.4,0.8,0.2,8.4,5.0,13.2,12.2,1.8,1.0,0.0,0.0,5.2,6.8,14.6,13.2,19,-6,1.393706,0.533333,1.8,0.0,3.4,1.0,0.8,0.0,-1.6,1.4,12,19,16,15,25
111,PL_04_05,2004-11-06,1,1,D,0,0,D,M Dean,3,19,1,13,10,8,1,8,0,1,0,0,7.50,4.00,1.440,69,68,72,69,92,91,89,90,12,Arsenal,Crystal Palace,12,12,0.720766,1.294900,15,12,12,31,0.666667,0.666667,1.4,0.8,0.8,0.4,7.4,4.2,15.6,8.0,1.2,2.4,0.0,0.0,8.0,3.0,11.6,17.8,-3,19,-0.574133,0.000000,0.6,0.0,3.2,7.6,-1.2,0.0,5.0,-6.2,-23,-23,-17,-21,-22
126,PL_04_05,2004-11-13,4,5,A,1,1,D,S Bennett,10,10,7,6,20,9,3,4,3,0,0,0,5.50,3.20,1.720,81,76,75,77,92,91,89,90,13,Arsenal,Tottenham,13,13,0.259589,1.105436,11,13,8,32,0.200000,0.533333,1.2,0.8,0.4,0.2,6.0,5.0,11.2,9.4,0.2,2.6,0.0,0.0,5.2,4.4,10.4,17.8,-3,19,-0.845847,-0.333333,0.4,0.0,1.0,1.8,-2.4,0.0,0.8,-7.4,-11,-15,-14,-13,-22
131,PL_04_05,2004-11-20,1,1,D,0,0,D,H Webb,11,4,4,2,9,12,12,3,0,1,0,0,1.16,6.50,15.000,92,91,89,90,78,72,71,73,14,West Brom,Arsenal,14,14,1.191100,0.238267,17,24,37,12,0.533333,0.133333,2.4,1.6,0.6,0.8,7.4,6.4,11.2,12.6,1.6,1.0,0.0,0.0,4.0,6.0,13.8,14.4,20,-12,0.952833,0.400000,0.8,0.0,1.0,-1.4,0.6,0.0,-2.0,-0.6,14,19,18,17,32
148,PL_04_05,2004-11-28,2,1,H,1,0,H,A Wiley,11,3,7,2,6,16,6,0,0,2,0,0,3.40,3.25,2.100,88,86,82,84,92,91,89,90,15,Arsenal,Liverpool,15,14,0.539255,0.876665,15,18,21,38,0.666667,0.400000,1.8,1.8,1.2,0.2,6.0,6.2,13.0,10.4,1.4,1.8,0.0,0.0,6.4,5.0,13.4,14.6,6,20,-0.337410,0.266667,0.0,0.0,-0.2,2.6,-0.4,0.0,1.4,-1.2,-4,-5,-7,-6,-14
153,PL_04_05,2004-12-04,3,0,H,1,0,H,D Gallagher,7,2,4,1,7,15,4,2,0,1,0,0,1.33,4.50,9.500,92,91,89,90,80,76,77,77,16,Birmingham,Arsenal,16,16,0.587366,0.482949,20,15,39,12,0.400000,0.333333,2.0,1.4,0.4,0.8,5.6,3.6,9.8,6.8,0.8,1.0,0.0,0.0,5.8,4.2,10.6,12.8,19,-3,0.104416,0.066667,0.6,0.0,2.0,3.0,-0.2,0.0,1.6,-2.2,12,15,12,13,22
167,PL_04_05,2004-12-12,2,2,D,2,1,H,G Poll,10,10,5,5,11,17,4,6,1,3,0,0,2.50,3.10,2.800,92,91,89,90,87,88,86,87,17,Chelsea,Arsenal,17,17,0.746739,2.211009,20,6,42,31,0.533333,0.866667,2.2,2.0,0.6,0.4,4.6,6.8,8.4,10.8,0.6,1.6,0.0,0.0,5.2,4.4,10.4,13.0,22,25,-1.464270,-0.333333,0.2,0.0,-2.2,-2.4,-1.0,0.0,0.8,-2.6,5,3,3,3,-3
177,PL_04_05,2004-12-19,0,1,A,0,0,D,H Webb,11,13,5,5,13,9,5,7,0,1,0,0,6.50,3.50,1.570,78,73,75,75,92,91,89,90,18,Arsenal,Portsmouth,18,18,0.781151,1.229948,24,22,23,44,0.533333,0.533333,1.6,1.8,0.8,0.4,8.2,3.2,16.0,5.8,1.0,1.4,0.0,0.0,7.8,3.0,13.4,13.8,-1,22,-0.448797,0.000000,-0.2,0.0,5.0,10.2,-0.4,0.0,4.8,-0.4,-14,-18,-14,-15,-23
185,PL_04_05,2004-12-26,2,0,H,1,0,H,B Knight,11,2,8,1,12,9,7,6,1,2,0,0,1.25,5.00,13.000,92,91,89,90,78,76,77,78,19,Fulham,Arsenal,19,19,1.487728,0.511093,22,30,45,20,0.533333,0.266667,1.6,1.0,0.8,0.6,5.0,5.4,10.0,11.6,0.2,1.6,0.0,0.0,6.2,5.4,9.2,17.2,23,-10,0.976635,0.266667,0.6,0.0,-0.4,-1.6,-1.4,0.0,0.8,-8.0,14,15,12,12,33
199,PL_04_05,2004-12-29,0,1,A,0,1,A,S Bennett,9,13,5,6,10,21,4,8,1,4,0,0,3.75,3.50,1.900,85,83,76,81,92,91,89,90,20,Arsenal,Newcastle,20,20,0.427289,1.656388,37,22,31,47,0.200000,0.666667,2.2,0.8,1.0,0.2,7.2,2.8,16.8,6.0,0.8,1.8,0.0,0.0,5.8,4.2,13.6,13.2,-6,25,-1.229099,-0.466667,1.4,0.0,4.4,10.8,-1.0,0.0,1.6,0.4,-7,-8,-13,-9,-31
205,PL_04_05,2005-01-01,1,3,A,1,1,D,M Halsey,7,8,4,5,13,15,1,2,1,1,0,0,6.00,3.40,1.610,76,79,75,77,92,91,89,90,21,Arsenal,Charlton,21,21,1.016205,1.797394,28,22,23,48,0.866667,0.866667,0.8,0.8,0.2,0.4,4.8,3.6,8.8,8.0,0.8,2.2,0.0,0.0,5.8,5.8,13.2,14.2,-5,26,-0.781189,0.000000,0.0,0.0,1.2,0.8,-1.4,0.0,0.0,-1.0,-16,-12,-14,-13,-31
215,PL_04_05,2005-01-04,1,1,D,0,1,A,R Styles,13,5,9,4,10,13,12,5,3,3,0,0,1.28,4.50,9.000,92,91,89,90,81,76,74,77,22,Man City,Arsenal,22,22,2.132741,0.392892,23,22,51,26,0.866667,0.466667,1.0,1.0,0.8,0.2,5.4,2.2,9.6,5.4,0.8,0.8,0.0,0.4,4.2,3.0,11.8,12.2,28,4,1.739849,0.400000,0.0,0.0,3.2,4.2,0.0,-0.4,1.2,-0.4,11,15,15,13,24
223,PL_04_05,2005-01-15,1,0,H,1,0,H,M Clattenburg,9,11,3,7,8,8,8,7,2,1,0,0,6.50,3.50,1.570,74,79,73,76,92,91,89,90,23,Arsenal,Bolton,23,23,0.290663,1.558591,31,24,29,52,0.266667,0.866667,0.8,1.2,0.2,0.6,8.2,4.2,16.0,8.2,0.8,2.2,0.0,0.0,7.0,5.6,13.4,13.4,-2,28,-1.267928,-0.600000,-0.4,0.0,4.0,7.8,-1.4,0.0,1.4,0.0,-18,-12,-16,-14,-30
238,PL_04_05,2005-01-23,1,0,H,1,0,H,S Dunn,13,4,8,1,17,19,11,1,2,3,0,0,1.44,4.00,7.500,92,91,89,90,85,83,76,81,24,Newcastle,Arsenal,24,24,1.044256,0.470102,25,40,52,35,0.666667,0.533333,1.0,1.0,0.6,0.8,5.8,6.0,9.8,9.8,1.6,2.0,0.0,0.0,6.4,5.6,10.6,16.2,27,-5,0.574154,0.133333,0.0,0.0,-0.2,0.0,-0.4,0.0,0.8,-5.6,7,8,13,9,32
243,PL_04_05,2005-02-01,2,4,A,2,1,H,G Poll,11,10,10,9,20,16,6,7,2,4,0,1,2.25,3.10,3.200,92,91,89,90,91,90,85,88,25,Man United,Arsenal,25,25,1.199390,1.776363,25,14,53,37,0.666667,0.866667,0.8,1.0,0.6,0.6,5.8,5.4,10.2,10.0,1.8,2.8,0.0,0.2,7.2,4.2,11.6,15.6,28,23,-0.576973,-0.200000,-0.2,0.0,0.4,0.2,-1.0,-0.2,3.0,-4.0,1,1,4,2,5
253,PL_04_05,2005-02-05,1,3,A,0,3,A,S Bennett,5,15,1,6,13,11,5,2,2,0,0,0,4.50,3.40,1.800,79,74,77,77,92,91,89,90,26,Arsenal,Aston Villa,26,26,0.289042,0.803591,30,29,28,55,0.466667,0.466667,2.0,1.6,0.8,0.6,7.2,5.2,15.4,7.6,1.2,2.4,0.0,0.2,5.6,4.4,11.0,14.2,-2,26,-0.514549,0.000000,0.4,0.0,2.0,7.8,-1.2,-0.2,1.2,-3.2,-13,-17,-12,-13,-28
266,PL_04_05,2005-02-14,5,1,H,3,0,H,R Styles,17,6,12,3,8,17,5,1,1,2,0,0,1.22,5.50,13.000,92,91,89,90,69,68,72,69,27,Crystal Palace,Arsenal,27,27,0.898975,0.297950,30,40,58,29,0.466667,0.466667,1.2,0.8,0.8,0.4,6.2,4.8,10.2,8.8,2.2,1.4,0.0,0.2,8.4,5.2,13.6,12.0,28,-11,0.601025,0.000000,0.4,0.0,1.4,1.4,0.8,-0.2,3.2,1.6,23,23,17,21,39
268,PL_04_05,2005-02-26,1,1,D,0,1,A,A Wiley,10,17,3,12,9,13,3,5,1,1,1,1,6.50,3.50,1.570,80,72,73,75,92,91,89,90,28,Arsenal,Southampton,28,28,0.240521,0.997298,43,31,28,63,0.333333,0.600000,1.6,1.6,1.4,0.8,8.2,5.2,15.0,9.2,0.6,2.0,0.0,0.2,8.6,3.6,12.6,14.2,-15,32,-0.756778,-0.266667,0.0,0.0,3.0,5.8,-1.4,-0.2,5.0,-1.6,-12,-19,-16,-15,-47
282,PL_04_05,2005-03-05,3,0,H,1,0,H,C Foy,11,5,6,2,12,15,7,3,0,2,0,0,1.36,4.33,9.000,92,91,89,90,78,73,75,75,29,Portsmouth,Arsenal,29,29,0.747562,0.051425,32,42,64,31,0.666667,0.200000,2.0,1.0,1.2,0.6,6.8,3.6,11.2,7.6,1.6,1.0,0.2,0.0,6.0,3.2,13.4,12.4,32,-11,0.696137,0.466667,1.0,0.0,3.2,3.6,0.6,0.2,2.8,1.0,14,18,14,15,43
289,PL_04_05,2005-03-19,0,1,A,0,1,A,G Poll,9,10,2,8,21,8,4,6,3,1,0,0,4.50,3.40,1.800,72,78,75,76,92,91,89,90,30,Arsenal,Blackburn,30,30,0.339776,0.764532,36,32,25,67,0.466667,0.666667,0.8,1.8,0.6,1.0,5.6,6.4,12.2,10.6,1.8,1.8,0.2,0.4,8.2,3.6,16.0,14.4,-11,35,-0.424756,-0.200000,-1.0,0.0,-0.8,1.6,0.0,-0.2,4.6,1.6,-20,-13,-14,-14,-46
306,PL_04_05,2005-04-02,4,1,H,2,1,H,A Wiley,21,3,15,1,8,11,10,3,1,0,0,0,1.20,6.00,13.000,92,91,89,90,74,72,73,73,31,Norwich,Arsenal,31,31,0.876658,0.048397,32,59,68,29,0.866667,0.200000,2.0,1.6,0.8,0.8,4.8,7.8,10.4,14.0,1.4,1.8,0.2,0.0,4.8,6.2,12.6,13.0,36,-30,0.828261,0.666667,0.4,0.0,-3.0,-3.6,-0.4,0.2,-1.4,-0.4,18,19,16,17,66
309,PL_04_05,2005-04-09,0,1,A,0,0,D,P Dowd,9,7,6,1,11,9,5,3,1,1,0,0,5.00,3.10,1.800,82,79,79,80,92,91,89,90,32,Arsenal,Middlesbrough,32,32,0.335942,0.892629,42,33,45,72,0.333333,0.866667,1.0,0.8,0.2,0.6,10.2,5.2,15.8,8.2,0.2,1.2,0.0,0.2,5.8,3.6,11.0,12.8,3,39,-0.556687,-0.533333,0.2,0.0,5.0,7.6,-1.0,-0.2,2.2,-1.8,-10,-12,-10,-10,-36
328,PL_04_05,2005-04-20,0,0,D,0,0,D,S Bennett,9,6,3,4,10,16,2,2,1,3,0,0,2.10,3.20,3.500,87,88,86,87,92,91,89,90,34,Arsenal,Chelsea,33,33,2.574663,1.003490,12,33,62,73,0.866667,0.866667,1.6,0.8,0.4,0.6,8.8,4.8,14.8,8.4,0.8,1.0,0.0,0.2,7.4,4.0,13.6,11.2,50,40,1.571174,0.000000,0.8,0.0,4.0,6.4,-0.2,-0.2,3.4,2.4,-5,-3,-3,-3,10
344,PL_04_05,2005-04-25,1,0,H,1,0,H,M Riley,12,7,3,1,17,15,4,7,0,4,0,0,1.50,3.75,7.000,92,91,89,90,81,76,75,77,35,Tottenham,Arsenal,35,34,1.521977,0.350656,33,38,73,42,0.866667,0.600000,1.4,1.0,0.6,0.6,6.4,5.0,11.8,9.0,1.2,1.2,0.0,0.0,5.6,4.0,12.4,11.4,40,4,1.171321,0.266667,0.4,0.0,1.4,2.8,0.0,0.0,1.6,1.0,11,15,14,13,36
356,PL_04_05,2005-05-02,0,2,A,0,0,D,N Barry,7,8,3,5,12,11,9,0,0,0,0,0,5.00,3.60,1.660,78,72,71,73,92,91,89,90,36,Arsenal,West Brom,35,36,0.359562,1.638606,58,33,33,74,0.400000,0.666667,1.6,0.6,1.0,0.4,5.4,2.8,11.6,5.2,1.6,1.0,0.2,0.0,5.2,2.8,11.6,8.8,-25,41,-1.279045,-0.266667,1.0,0.0,2.6,6.4,0.6,0.2,2.4,2.8,-14,-19,-18,-17,-66
367,PL_04_05,2005-05-08,3,1,H,2,0,H,G Poll,11,11,8,6,13,10,1,4,0,2,0,0,1.72,3.40,5.000,92,91,89,90,88,86,82,84,37,Liverpool,Arsenal,37,36,1.714895,0.310344,33,37,76,49,0.666667,0.333333,1.0,1.0,0.6,0.8,5.4,5.8,10.2,9.8,0.6,1.8,0.0,0.0,4.2,2.8,9.2,12.0,43,12,1.404551,0.333333,0.0,0.0,-0.4,0.4,-1.2,0.0,1.4,-2.8,4,5,7,6,31
369,PL_04_05,2005-05-11,7,0,H,3,0,H,A Wiley,19,7,12,3,9,12,4,2,2,0,0,0,1.61,3.60,5.500,92,91,89,90,72,75,74,75,33,Everton,Arsenal,37,37,1.822077,0.453454,34,36,79,43,0.866667,0.466667,0.8,0.2,0.6,0.2,4.6,4.4,9.6,9.4,0.4,1.8,0.0,0.4,4.2,5.2,12.6,13.0,45,7,1.368623,0.400000,0.6,0.0,0.2,0.2,-1.4,-0.4,-1.0,-0.4,20,16,15,15,38
375,PL_04_05,2005-05-15,2,1,H,0,0,D,D Gallagher,9,11,4,5,10,8,3,2,1,0,0,0,3.40,3.50,2.000,80,76,77,77,92,91,89,90,38,Arsenal,Birmingham,38,38,0.527274,1.971717,45,34,38,86,0.333333,0.866667,1.4,0.6,0.2,0.0,4.8,3.8,9.2,7.8,1.2,1.8,0.0,0.0,6.2,3.0,16.0,12.8,-7,52,-1.444443,-0.533333,0.8,0.0,1.0,1.4,-0.6,0.0,3.2,3.2,-12,-15,-12,-13,-59

In [13]:
merged_df.to_csv("final_output.csv", index=False)